<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <priority value="Debug" />
    <appender-ref ref="ProgAppAppender" />
    <appender-ref ref="K8sConsoleAppender" />
  </root>
  <appender name="ProgAppAppender" type="log4net.Appender.RollingFileAppender">
    <!--Change this to 'c' to see files on localhost-->
    <file value="/app/VirtualPaymentService.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="14" />
    <datePattern value="_yyyyMMdd" />
    <maximumFileSize value="50MB" />
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true" />
    <layout type="ProgressiveLoggingCore.ProgLayout.PureJsonPatternLayout, ProgressiveLoggingCore">
      <conversionPattern value="%json%newline" />
    </layout>
  </appender>
  <appender name="K8sConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="ProgressiveLoggingCore.ProgLayout.PureJsonPatternLayout, ProgressiveLoggingCore">
      <conversionPattern value="%json%newline" />
    </layout>
  </appender>
</log4net>